
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

[v-cloak] {
  display: none;
}

section {
  text-align: center;
}

.input-time {
  width: 25px;
  padding: 0 4px;
  background-color: #feffef;
  border: none;
  border-bottom: solid 1px #8c8c8c;
  text-align: right;
}

.clock {
  font-size: 28px;
  font-family: monospace;
  text-transform: lowercase;
}

.danger {
  color: red;
}

.alarm-time {
  font-size: 20px;
  text-transform: lowercase;
}

.dismissed {
  color: #cccccc;
}